url
plugins
jenkins_home/plugins
jenkins_home/war
jenkins_home/identity.key.enc
jenkins_home/init.groovy.d
jenkins_home/jobs
jenkins_home/logs
jenkins_home/secrets
jenkins_home/updates
jenkins_home/userContent
jenkins_home/war
